/* Created by Priya */

 *{
	padding: 0;
	margin: 0;
}

body{

	font-family: 'Lucida', sans-serif;

}

.top-container{
	padding: 4rem;
	background-color:#ee0979;
	text-align: center;
}
.top-heading{
	text-transform: uppercase;
	initial-letter: 1px;
	font-weight: bold;
}
.home-text{
	color:#fff;

}
.main-about-container{
	padding: 4rem;
	background-color: #000000;


}
.image-container{
	text-align: center;
	height:100px;
	margin-bottom:2rem;
	
}
.profile-pic{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
	

.title-name-bar{
	margin-top: 1rem;
	position: absolute;
	left: 50%;
	 background-color:#ee0979;
	padding: .3rem 2rem;
	text-transform: uppercase;
	font-size: .3rem;	
	font-weight: normal;
	letter-spacing: 2px; 
}

.socail-icon{
	margin-top: 2rem;
	color: #ee0979;
}

.socail-icon i{
	padding: 1rem;
	font-size: 1.3rem;
}
 

.logo-bar{
	color: #fff;
}

.logo-bar1{
	margin-top: 4rem;
}
.logo-top{
	font-size:5.6rem;
	opacity:.2;
}
.about-text-heading{
	text-transform: uppercase;
	margin-top:-1.8rem;
	margin-right: 1.6rem;
	position: relative;
	padding:.6rem 0;
	display: inline-block;
	margin-bottom: 2rem;
	letter-spacing: 4px;
}


.about-text-heading::after{
	content: "";
	position: absolute;
	width: 150px;
	height: 5px;
	bottom: 0;
	left: 50%;
	background-color: #ee0979;
}

.about-myself{
	color: #fff;
	font-size: 1rem;
	padding-bottom:3rem;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}
.btn-tag{
	padding:1rem 2rem;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	background-color: #ee0979;
	border-radius: 5rem;
	font-family: 'Lato',sans-serif;
}

.main-skill-container{
	padding: 5rem;
	background-color: #000000;

}
.skill-percentage{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	color: #ee0979;
	text-transform: uppercase;
   
  
}
.circle{
	width: 80px;
	height: 80px;
	margin:1rem;
	border-radius: 50%;
	background-color: black;
	border: 3px solid  #494646;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.circle::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	border: 4px solid  #fff200;
	border-left-color: transparent;
	transform: rotate(30deg);
}

.circle-js::after{
	border-left-color: transparent;
	border-top-color: transparent;
	transform: rotate(-45deg);
}




.percentage{
	font-size: 1.2rem;
}

.lang-name{
	font-size:1rem;
}
.main-refrence-container{
	padding:2rem;
	background-color:#000000 ;

}
.underline-bar1{
	padding: 1px;
	background-color: #fff;
	margin-left:50%;
	width:60%;

}
.logo-top1{
	font-size:5.6rem;
	opacity:.2;
	margin-top:-4rem;
	margin-bottom: 5rem;
}
.refrence-text{
	padding:4rem 1rem;
	background-color: #ee0979;
	margin-top: 2rem;
	position: relative;
}
.profile-image{
	width: 70px;
	height: 70px;
	
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 20%;
	transform: translate(-50%,-50%);

}
.profile-pic1{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px solid black;
	
}
.main-contact-container{
  padding: 2rem;
	background-color: #000000;

}
.socail-icon1{
	color: #fff;  
	 display: flex;
	 justify-content: center;
	 align-items: center;
	margin-left: -1.2rem;
}
 
.icon-name{
	font-size: 1rem;
	padding-left: 10px;
	text-transform: uppercase;
 
}
.icon-contact{
	padding-left:15px;

}
.email-container{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 
}
.input-text{
	 width: 90%;
	padding: 1rem .5rem;
	margin-bottom: 1rem;
	outline: none;
}

 .btn-send{
	 text-decoration: none;
	 background-color:#fff;
	 padding:0.6rem 0;
	 color: #ee0979;
	 font-weight: bold;
	 text-align: center;
	 width: 94%;
 }
 .bottom-icon{
	 padding: .1rem  1rem;
	 background-color: black;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 
